[Desktop Entry]
Type=Application
Name=Ferry
GenericName=Device Connection
Comment=Pair with your devices and share files and the clipboard over the local network
Exec=Ferry
Icon=dev.fanchao.Ferry
Terminal=false
Categories=Network;FileTransfer;
Keywords=KDE Connect;phone;pair;clipboard;file transfer;
StartupNotify=true
StartupWMClass=dev.fanchao.Ferry
SingleMainWindow=true
